In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("../data/london/road_graph_edges_enriched.parquet")

In [3]:
df.head()

,u,v,parsed_maxspeed,speed_kph,importance,highway,oneway,length_meters,counter_distance,num_lanes,...,leisure,shopping,tourism,traffic,transport,pois_total,greeneries,water_bodies,built_up,other
0,78112,25508583,32.2,32.2,0,unclassified,False,19.402386,6,1,...,-2.302585,-2.302585,3.218876,3.218876,-2.302585,3.912023,3,0,97,0
1,78112,25508584,32.2,32.2,0,unclassified,False,63.881347,4,1,...,-2.302585,-2.302585,2.995732,2.995732,2.995732,4.094345,5,0,95,0
2,78112,3257621681005534125,32.2,32.2,0,residential,True,82.385612,5,1,...,-2.302585,-2.302585,3.506558,5.115996,3.506558,5.452468,3,0,97,0
3,99936,2146383887,32.2,32.2,0,unclassified,False,8.076410,1,1,...,4.605170,-2.302585,3.912023,5.521461,-2.302585,5.991465,5,0,95,0
4,99936,4544836433,32.2,32.2,0,unclassified,True,46.803240,0,1,...,4.605170,-2.302585,4.199705,5.809143,-2.302585,6.214608,6,0,94,0

In [6]:
df.columns

Index(['u', 'v', 'parsed_maxspeed', 'speed_kph', 'importance', 'highway',
       'oneway', 'length_meters', 'counter_distance', 'num_lanes', 'mean_pop',
       'catering', 'leisure', 'shopping', 'tourism', 'traffic', 'transport',
       'pois_total', 'greeneries', 'water_bodies', 'built_up', 'other'],
      dtype='object')